<h1 style="text-align: center;">Review Details:</h1>
<h1>Flight Details:</h1>

Airlines: {{data?.flight?.operatingAirlines}}<br/>
From: {{data?.flight?.departureCity}}<br/>
To: {{data?.flight?.arrivalCity}}<br/>
Date Of Departure: {{data?.flight?.dateOfDeparture}}<br/>
Departure Time: {{data?.flight?.estimatedDepartureTime}}<br/>

<h1>Passenger Details:</h1>
First Name: {{data?.passenger?.firstName}}<br/>
Last Name: {{data?.passenger?.lastName}}<br/>
Email: {{data?.passenger?.email}}<br/>
Phone: {{data?.passenger?.phone}}<br/>
Enter the number of bags you want to checkin:<input type="text" [(ngModel)]="noOfBags"/><br/>
<button class="button" (click)="checkin(noOfBags)">CheckIn</button>
